<section id="lessons">
    <div class="row">
        <div class="col-md-4 ">
            <div class="card mb-3 mx-auto my-auto" style="max-width: 18rem;">
                <div class="card-header">Emir Elhatip</div>
                <div class="card-body">
                    <h5 class="card-title">Module 1: Introduction and Procedure</h5>
                    <p class="card-text">
                    In this module, the participants will be introduced to what an MUN is and how the debate flows in formal sessions pertaining to the Harvard procedure. This module will introduce the participants to Caucuses, GSLs, Agendas, and all the motions and points that can be raised aswell as the etiquettes of raising them.
                    <br> <br>
                    Ultimately, the goal of this module is to foster a sense of comfort and confidence among delegates within the MUN environment. By equipping participants with a solid foundation in MUN procedures, this module ensures that delegates are well-prepared to engage actively and effectively during conferences.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 mx-auto my-auto" style="max-width: 18rem;">
                <div class="card-header">Bora Akar</div>
                <div class="card-body">
                    <h5 class="card-title">Module 2: Research and Position Papers</h5>
                    <p class="card-text">
                    An essential part of any communicative endeavour is prior knowledge of the subject being addressed. An MUN is no exception. To be able to form effective solutions and voice them properly delegates need to have a comprehensive understanding of the agenda as well as their countries stance on it. A position paper is a document produced by a delegate detailing the stance of their allocation regarding the agenda. It details the line of argument which the delegate will follow in the committee sessions.
                    <br><br>
                    This module will teach delegates how to adequately prepare for an MUN in terms of information gathering aswell as how to write a great position paper. Ultimately the goal would be to set our participants up for an academically sound MUN Career.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 mx-auto my-auto" style="max-width: 18rem;">
                <div class="card-header">Onur Çiğdem & Hur Soul Demirkan</div>
                <div class="card-body">
                  <h5 class="card-title">Module 3: Public Speaking and Debating</h5>
                  <p class="card-text">
                    Public speaking and debating are universally recognised as incredibly important skills which are beneficial in nearly all spheres of human endeavour. An MUN is no different. As speaking is the primary mode of communication at MUNs, learning to effectively convey one's ideas is a key aspect that can immediately make a delegate stand out from the crowd.
                    <br><br>
                    This modules will teach the principles which will allow our participants to hone their skills as communicators and become effective speakers.
                  </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 mx-auto my-auto" style="max-width: 18rem;">
                <div class="card-header">Batuhan Akyazı</div>
                <div class="card-body">
                  <h5 class="card-title">Module 4: Lobbying and Negotiation</h5>
                  <p class="card-text">
                    In Module 4, participants will delve into a critical aspects of MUNs which is; lobbying and negotiation. Lobbying and negotiation skills are pivotal for delegates aiming to influence other delegates in their committee, build alliances, and craft effective blocs, all of which are necessary for delegates maximize their potential at MUN conferences.
                    <br><br>
                    By the end of this module, participants will have gained an understanding of the strategies, techniques, and ethical considerations involved in lobbying and negotiation within the MUN framework. These skills will empower delegates to actively shape the outcomes of their committee.
                  </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 mx-auto my-auto" style="max-width: 18rem;">
                <div class="card-header">Rana Ece Alper</div>
                <div class="card-body">
                  <h5 class="card-title">Module 5: Resolution Writing</h5>
                  <p class="card-text">
                    In the last module of our workshop, participants will focus on the critical skill of resolution writing, a cornerstone of any effective bloc. This module aims to provide delegates with the knowledge and expertise needed to craft well-structured, impactful resolutions that address complex global issues effectively.
                  </p>
                </div>
            </div>
        </div>
    </div>
    
</section>