<section id="application">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card text-dark card-has-bg click-col">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body text-center">
                            <i class="bi bi-person-fill" style="color: #fff; font-size: 17vh;"></i>
                            <br>
                            <button type="button" class="btn btn-dark btn-lg btn-block" routerLink="/application">Apply As an Delegate</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card text-dark card-has-bg click-col">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body text-center">
                            <i class="bi bi-people-fill" style="color: #fff; font-size: 17vh;"></i>
                            <br>
                            <button type="button" class="btn btn-dark btn-lg btn-block" routerLink="/application">Apply As an Delegation</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>