<section id="application">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card text-dark card-has-bg click-col">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body text-center">
                            <i class="bi bi-person-fill" style="color: #fff; font-size: 17vh;"></i>
                            <br>
                            <button type="button" class="btn btn-dark btn-lg btn-block" routerLink="/application">
                                <a class="txt" href="https://forms.gle/yoYbD5hey5fjDC4R8">Apply As a Delegate</a>
                            </button>
                            <br>
                            <h5 style="font-family: F37JaggerRegular; color: #fff;">300₺</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card text-dark card-has-bg click-col">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body text-center">
                            <i class="bi bi-people-fill" style="color: #fff; font-size: 17vh;"></i>
                            <br>
                            <button type="button" class="btn btn-dark btn-lg btn-block" routerLink="/application">
                                <a class="txt" href="https://forms.gle/7dogUstBoBJSFtyn7">Apply As a Delegation</a>
                            </button>
                            <br>
                            <h5 style="font-family: F37JaggerRegular; color: #fff;">250₺</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>