.navbar {
  background: rgba(
    0,
    0,
    0,
    0.50
  ) !important;
  z-index: 2;
  backdrop-filter: blur(10px) saturate(125%);
  -webkit-backdrop-filter: blur(10px) saturate(125%);
}


.main-content {
  color: #fff;
  margin-top: 60px;
}


.navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}

.navbar-nav > li > .dropdown-menu > a {
  color: white;
}

.navbarScroll.navbarDark {
  background-color: black;
}

.nav-link {
  color: rgb(247, 246, 246);
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

h2 {
  font-family: Garamond, sans-serif;
}