<!-- kindly include relevent tags before */ -->

<header>
	<nav class="navbar navbar-expand-lg fixed-top navbarScroll navbar-dark">
  <div class="container">
  	<a class="navbar-brand" href="#">DiplomaciaAA Mun Workshop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav ms-auto">
      	<li class="nav-item active">
        	<a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#schedule">Schedule</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#faq">FAQ</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="#venue">Venue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team-members">Team Members</a>
      </li>
      <button type="button" class="btn btn-warning">
        <a class="nav-link p-0" routerLink="/apply" style="color: #000000; font-weight: bold;">Apply Now</a>
      </button>
      </ul>   
    </div>
  </div>
  </nav>
</header>