<section id="schedule">
  <div class="row" style="align-items: center;">
    <div class="card text-center mx-3 my-3 mx-auto" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">FIRST DAY</h5>
        <br/>
        <p class="card-text">
          09:00-10:00<br/>Opening Ceremony
          <br/><br/>
          10:00-11:00<br/>Opening Ceremony
          <br/><br/>
          11:00-12:00<br/>Opening Ceremony
          <br/><br/>
          12:00-13:00<br/>Opening Ceremony
          <br/><br/>
          13:00-14:00<br/>Opening Ceremony
        </p>
      </div>
    </div>
  
    <div class="card text-center mx-3 my-3 mx-auto" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">SECOND DAY</h5>
        <br/>
        <p class="card-text">
          09:00-10:00<br/>Opening Ceremony
          <br/><br/>
          10:00-11:00<br/>Opening Ceremony
          <br/><br/>
          11:00-12:00<br/>Opening Ceremony
          <br/><br/>
          12:00-13:00<br/>Opening Ceremony
          <br/><br/>
          13:00-14:00<br/>Opening Ceremony
        </p>
      </div>
    </div>
  </div>
</section>