<section id="schedule">
  <div class="row" style="align-items: center;">
    <div class="card text-center mx-3 my-3 mx-auto" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">21st Oct (Day One)</h5>
        <br/>
        <p class="card-text">
          09:00-10:15<br/>Registration
          <br/><br/>
          10:15-11:15<br/>Opening
          <br/><br/>
          11:15-11:30<br/>Break
          <br/><br/>
          11:30-12:30<br/>Introduction and Procedure
          <br/><br/>
          12:30-01:30<br/>Break and Lunch
          <br/><br/>
          01:30-02:30<br/>Research and Position Papers
          <br/><br/>
          02:30-02:45<br/>Break
          <br/><br/>
          02:45-03:45<br/>Public Speaking and Debating
          <br/><br/>
          03:45-04:00<br/>Break
          <br/><br/>
          04:00-05:00<br/>Lobbying and Negotiation
          <br/><br/>
          05:00-05:15<br/>Break
          <br/><br/>
          05:15-06:15<br/>Resolution Writing
        </p>
      </div>
    </div>
  
    <div class="card text-center mx-3 my-3 mx-auto" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">22nd Oct (Day Two)</h5>
        <br/>
        <p class="card-text">
          09:00-10:30<br/>Session One
          <br/><br/>
          10:30-10:45<br/>Break
          <br/><br/>
          10:45-12:00<br/>Session Two
          <br/><br/>
          12:00-01:00<br/>Break and Lunch
          <br/><br/>
          01:00-02:30<br/>Session Three
          <br/><br/>
          02:30-02:45<br/>Break
          <br/><br/>
          02:45-04:15<br/>Session Four
          <br/><br/>
          04:15-04:30<br/>Break
          <br/><br/>
          04:30-05:30<br/>Session Five
          <br/><br/>
          05:30-05:45<br/>Break
          <br/><br/>
          05:45-06:30<br/>Closing and Awards
          <br/><br/>
          06:30<br/>End
        </p>
      </div>
    </div>
  </div>
</section>