/* Mobile */
section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

/* Tablet */
@media (min-width:600px) {
    section {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}
}

/* Desktop */
@media (min-width:900px) {
    section {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}
}

#schedule {
	background-image: url("../../../assets/img/schedule-black.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
	position:relative;
    background-attachment: fixed; 
	color: white;
}

.card {
    background-color: transparent;
    color: #ffffff;
    border-width: 5px;
    border-radius: 10px;
    border-color: #ffffff;
}