<section id="schedule">
  <div class="row" style="align-items: center;">
    <div class="card text-center mx-3 my-3 mx-auto" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">21st Oct (Day One)</h5>
        <br/>
        <p class="card-text">
          09:00-09:30<br/>Registration
          <br/><br/>
          09:30-10:30<br/>Introduction and Procedure
          <br/><br/>
          10:30-10:45<br/>Break
          <br/><br/>
          10:45-11:45<br/>Research and Position Papers
          <br/><br/>
          11:45-13:00<br/>Break and Lunch
          <br/><br/>
          13:00-14:15<br/>Public Speaking and Debating
          <br/><br/>
          14:15-14:30<br/>Break
          <br/><br/>
          14:30-15:30<br/>Lobbying
          <br/><br/>
          15:30-15:45<br/>Break
          <br/><br/>
          15:45-16:45<br/>Resolution Writing
          <br/><br/>
          16:45-17:00<br/>Break
          <br/><br/>
          17:00-18:00<br/>Session One
        </p>
      </div>
    </div>
  
    <div class="card text-center mx-3 my-3 mx-auto" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">22nd Oct (Day Two)</h5>
        <br/>
        <p class="card-text">
          09:00-10:00<br/>Session Two
          <br/><br/>
          10:00-10:15<br/>Break
          <br/><br/>
          10:15-11:30<br/>Session Three
          <br/><br/>
          11:30-12:45<br/>Break and Lunch
          <br/><br/>
          12:45-13:45<br/>Session Four
          <br/><br/>
          14:45-14:00<br/>Break
          <br/><br/>
          14:00-15:15<br/>Session Five
          <br/><br/>
          15:15-16:30<br/>Break
          <br/><br/>
          15:30-16:45<br/>Session Six
          <br/><br/>
          16:45-17:00<br/>Break
          <br/><br/>
          17:00-18:00<br/>Session Seven
          <br/><br/>
          18:00-18:15<br/>Feedback Session
          <br><br>
          18:15-18:30<br>Awards
        </p>
      </div>
    </div>
  </div>
</section>