<section id="venue">
	<div class="card text-center mx-3 my-3" style="width: auto">
        <div class="card-body">
          <h5 class="card-title">Participants coming from;</h5>
          <br>
          <p class="card-text">
            <span style="font-weight: bold;">Üsküdar, Kadıköy, Maltepe, Kartal:</span>
            <br>
            Can take Marmaray to get to the Yenikapı station to switch to the M2 metro line and get off at İstanbul Üniversitesi/Vezneciler station.
            <br><br>
            
            <span style="font-weight: bold;">Zincirlikuyu, Mecidiyeköy and Taksim:</span>
            <br>
            Can take the M2 metro line and get off at İstanbul Üniversitesi/Vezneciler station.
            <br><br>

            <span style="font-weight: bold;">Sirkeci, Topkapı, Cevizlibağ:</span>
            <br>
            Can take the T1 tramway line and get off at İstanbul Üniversitesi/Laleli station.
            <br><br>

            <span style="font-weight: bold;">Bakırköy - Bağcılar:</span>
            <br>
            Can take M1A/M1B metro lines to get to the Yenikapı station to switch to the M2 metro line and get off at İstanbul Üniversitesi/Vezneciler station.
            <br><br>
          </p>
        </div>
    </div>
    <div class="mx-auto my-3">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12042.312948500854!2d28.961838!3d41.0126037!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab98ddc3c6be3%3A0x4f51928bdbcd627a!2s%C4%B0stanbul%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1696451925847!5m2!1str!2str" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>