/* Mobile */
section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

#home {
	background-image: url("../../../assets/img/munBlack_16x9.png") !important;
	height: 100%;
	width: auto;
	object-fit: cover !important;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
	position:relative;
    background-attachment: fixed; 
	color: white;
}

#home h1{
	font-family: Rometano;
}

/* Tablet */
@media (min-width:600px) {

	#home {
		background-image: url("../../../assets/img/munBlack_16x9.png") !important;
		height: 100%;
		width: auto;
		object-fit: cover !important;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover; 
		position:relative;
		background-attachment: fixed; 
		color: white;
	}

    section {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}
}

/* Desktop */
@media (min-width:900px) {
    section {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}

	#home {
		background-image: url("../../../assets/img/munBlack.jpg") !important;
		height: 100%;
		width: auto;
		object-fit: cover !important;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover; 
		position:relative;
		background-attachment: fixed; 
		color: white;
	}
}

.count-down-timer {
	text-align: center;
	background-color: rgba(49, 59, 63, 0.5);
  	backdrop-filter: blur(10px) saturate(125%);
  	-webkit-backdrop-filter: blur(10px) saturate(125%);
	max-width: 400px;
	margin: 20px auto;
	color: #d9a74a;
	border-radius: 6px;
	padding: 10px;
	font-family: sans-serif;
}

.count-down-timer > p {
	margin: 5px 0 15px 0;
}

.count-down-timer .wrapper .description, .count-down-timer .wrapper .times {
	display: grid;
	grid-template-columns: repeat(4, calc(25% - 8px));
	grid-column-gap: 10px;
}

.count-down-timer .wrapper .description > p {
	margin: 0;
	font: normal 14px sans-serif;
}

.count-down-timer .wrapper .times p {
	letter-spacing: -5px;
	position: relative;
	margin: 0;
	font: normal 40px courier, sans-serif;
}

.count-down-timer .wrapper .times p ::ng-deep img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	display: block;
	height: 30px;
}