<section id="team-members">
    <div class="container">
        <h1>Executives</h1>
        <div class="row" >
            <div class="col-sm-12 col-md-6 col-lg-4">
                <app-card [dataImage]="ammarImage">
                    <h3 slot="header">Ammar Jafri</h3>
                    <p slot="content">Secretary General</p>
                  </app-card>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <app-card [dataImage]="hurImage">
                    <h3 slot="header">Hür Soul Demirkan</h3>
                    <p slot="content">Director General</p>
                  </app-card>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <app-card [dataImage]="ranaImage">
                    <h3 slot="header">Rana Ece Alper</h3>
                    <p slot="content">Deputy Director General</p>
                  </app-card>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <app-card [dataImage]="bahaOzyurtImage">
                    <h3 slot="header">Baha Özyurt</h3>
                    <p slot="content">Deputy Director General</p>
                  </app-card>
            </div>
        </div>
        
        <h1>Teaching Panel</h1>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <app-card [dataImage]="emirElhatipImage">
                    <h3 slot="header">Emir Elhatip</h3>
                    <p slot="content">Introduction and Procedure</p>
                  </app-card>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <app-card [dataImage]="boraAkarImage">
                    <h3 slot="header">Bora Akar</h3>
                    <p slot="content">Research and Position Papers</p>
                  </app-card>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <app-card [dataImage]="batuhanAkyaziImage">
                    <h3 slot="header">Batuhan Akyazı</h3>
                    <p slot="content">Lobbying</p>
                  </app-card>
            </div>
        </div>

        <div class="row" >
            <div class="col-sm-12 col-md-6 col-lg-4">
                <app-card [dataImage]="hurImage">
                    <h3 slot="header">Hür Soul Demirkan</h3>
                    <p slot="content">Public Speaking and Debating</p>
                  </app-card>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <app-card [dataImage]="onurCigdemImage">
                    <h3 slot="header">Onur Çiğdem</h3>
                    <p slot="content">Public Speaking and Debating</p>
                  </app-card>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <app-card [dataImage]="ranaImage">
                    <h3 slot="header">Rana Ece Alper</h3>
                    <p slot="content">Resolution Writing</p>
                  </app-card>
            </div>
        </div>
    </div>
</section>