/* Mobile */
section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
    background-color: #383e42 !important;
	background-image: linear-gradient(-225deg, #383e42 0%, #000000 75%) !important;
}

.syed {
    margin: auto !important;
    margin-top: 4vh !important;
    margin-bottom: 4vh !important;
    padding: auto !important;
    filter: grayscale(50%) !important;
    background-image: url("../../../assets/img/syed-muhammed-1080x1080.jpg") !important;
    width: 25vh !important;
    height: 25vh !important;
    background-size: cover !important;
    border-radius: 50% !important;
    border: 3px solid #ffffff;
    background-position: center !important;
}

.pd {
    padding: 14px;
    font-size: x-small;
}

/* Tablet */
@media (min-width:600px) {
    section {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}

    .syed {
        margin: 0 !important;
        margin-top: 4vh !important;
        margin-bottom: 4vh !important;
        padding: 0 !important;
        filter: grayscale(50%) !important;
        background-image: url("../../../assets/img/syed-muhammed-1080x1080.jpg") !important;
        width: 25vh !important;
        height: 25vh !important;
        background-size: cover !important;
        border-radius: 50% !important;
        border: 3px solid #ffffff !important;
        background-position: center !important;
    }

    .pd {
        padding: 20px;
        font-size: x-small;
    }
}

/* Desktop */
@media (min-width:900px) {
    section {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}

    .syed {
        margin: 0 !important;
        padding: 0 !important;
        filter: grayscale(50%) !important;
        height: 100% !important;
        width: 100% !important;
        background-image: url("../../../assets/img/syed-muhammed.jpg") !important;
        background-size: cover !important;
        border-radius: 0 !important;
        border: 0px solid #ffffff !important;
    }

    .pd {
        padding: 24px;
        font-size: medium;
    }
}

.right-side {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
	font-size: small;
	color: rgba(255, 255, 255, 0.755);
}