/* Mobile */
section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

img {
    width: 25vh !important;
    height: 25vh !important;
    border-radius: 50% !important;
    border: 3px solid #ffffff;
}

.pd {
    padding: 14px;
    font-size: x-small;
}

/* Tablet */
@media (min-width:600px) {
    section {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}

    img {
        width: 25vh !important;
        height: 25vh !important;
        border-radius: 50% !important;
        border: 3px solid #ffffff;
    }

    .pd {
        padding: 20px;
        font-size: x-small;
    }
}

/* Desktop */
@media (min-width:900px) {
    section {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}

    img {
        width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
        border: 0px solid #ffffff !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .pd {
        padding: 24px;
        font-size: medium;
    }
}

.left-side {
    margin: 0;
    padding: 0;
    filter: grayscale(50%);
    height: 100%;
    width: 100%;
}

.right-side {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
	font-size: small;
	color: rgba(255, 255, 255, 0.755);
}