/* Mobile */
section {
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	color: white;
	padding-bottom: 5vh !important;
}

img {
	width: 40vh !important;
	height: auto !important;
	margin-top: 10vh !important;
	margin-bottom: 5vh !important;
}

/* Tablet */
@media (min-width:600px) {
    section {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}
}

/* Desktop */
@media (min-width:900px) {
    section {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}

	img {
		width: 50vh !important;
		height: auto !important;
	}
}

#mock-debate {
	background-color: #383e42;
	background-image: linear-gradient(-225deg, #383e42 0%, #000000 75%);
	color: white;
}